* {
  background-color: #282a36;
  color: #f8f8f2;
}
body{
   min-height: 95vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
@font-face {
    font-family: 'BitCount Prop Single';
    src: url(https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap);
} 

h1 {
  font-family: 'BitCount Prop Single';
  font-size: 250;
  color: #f8f8f2;
}

h3 {
  display: inline-block;
  font-size: inherit;
  padding: 0 0.5em;
  margin-bottom: 0;
  background-color: #ff79c6;
  color: #f8f8f2;
}

.text-secondary {
  color: #bd93f9;
}

.text-background {
  color: #8be9fd;
}

a{
  text-decoration: none;
  color: #8be9fd;
}

a:hover{
  color: #50fa7b;
}

.typeme {
  width: 30ch;
  animation: typing 2s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid #f2d5cf;
}


/* animation */

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 30ch; }
}
    
@keyframes blink {
  50% { border-color: transparent; } 
}

/* dynamic resizing */
@media (min-width:600px) {
  body {
    font-size: 1.25rem;
  }
}