.typeme {
  display: inline-block;
  animation: typing 1.5s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid var(--color-green);
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 30ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
